html {
  overflow: hidden;
}

body {
  margin: 0;
  background: radial-gradient(circle at 60% 40%, #d2edff 0%, #90c3e7 60%, #357ebd 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

canvas {
  background: #000;
}

#menu {
  color:white; 
  background:#4a752c; 
  height:50px; 
  width:617px; 
  display:flex; 
  align-items:center; 
  justify-content:left;
}