body {
  margin: 0;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

canvas {
  background: #000;
}

#menu {
  color:white; 
  background:#4a752c; 
  height:50px; 
  width:617px; 
  display:flex; 
  align-items:center; 
  justify-content:left;
}