html {
  overflow: hidden;
}

body {
  margin: 0;
  background: radial-gradient(circle at 60% 40%, #d2edff 0%, #90c3e7 60%, #357ebd 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

canvas {
  background: #000;
}

#menu {
  color:white; 
  background:#4a752c; 
  height:75px; 
  width:617px; 
  display:flex; 
  align-items:center; 
  justify-content:left;
  padding: 0 24px;
  box-sizing: border-box;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

#modal {
  /* border: none;
  border-radius: 8px;
  padding: 0;
  width: 20vw;
  height: 50vh;
  max-width: none;
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  background-color: transparent;
  max-width: none;
  padding: 0;
  flex-direction: column;
  border: none;
}

.modal-content {
  padding: 20px;
  text-align: center;
  background-color: #4dc1f9;
  width: 18vw;
  height: 45vh;
  border-radius: 8px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  background-color: #1254c9;
  border: none;
  border-radius: 10px;
  height: 6vh;
  font-size: large;
}
